@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
nav > ul {

    background-color: #b1cab5;
    height: 60px;

    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    width: 100%;

}

nav {
    margin-bottom: 5%;
}

nav a {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 30px;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  color: #c2daf5;
}

a:hover:not(.active).navi, .active.navi {
    background-color: #d2e7d6;
}
